.menu-wrap{
    background-color: #4e2c1e;
    height: 5px;
}

.menu{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 40px;
    background-image: -moz-linear-gradient( 90deg, rgb(164,103,31) 0%, rgb(131,76,11) 14%, rgb(119,71,11) 25%, rgb(176,120,43) 55%, rgb(233,192,135) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(164,103,31) 0%, rgb(131,76,11) 14%, rgb(119,71,11) 25%, rgb(176,120,43) 55%, rgb(233,192,135) 100%);
    box-shadow: 0px 1px 0px 0px rgba(126, 79, 19, 0.004);
    border-radius: 3px;
}

.menu::after{
    content: '';
    width: 240px;
    height: 133px;
    background-image: url('../images/logo.png');
    position: absolute;
    left: calc(50% - 120px);
    top: -55px;
    z-index: 1;
}

.left-block, .right-block{
    display: flex;
}

.block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 40px;
    border: 0;
    outline: 0;
    box-shadow: inset 1px -1px #c4aa89;
    border-bottom: 1px solid #875b23;
    box-sizing: border-box;
    border-right: 1px solid #77470b;
    border-top: 1px solid #f4e2c8;
    cursor: pointer;
    padding: 0 5px;
    background-color: transparent;
}

.block:hover{
    background-image: -moz-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
}

.block:focus{
    background-image: -moz-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(250,237,199) 0%, rgb(234,207,143) 13%, rgb(232,196,120) 58%, rgb(255,249,224) 96%, rgb(255,249,224) 100%);
}

.block span{
    margin-top: -1px;
    font-size: 11px;
    font-family: "Verdana";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 1px 0px rgba(17, 17, 26, 0.46);
    text-align: center;
}

.block:hover span{
    color: rgb(78, 44, 30);
}

.block:focus span{
    color: rgb(78, 44, 30);
}

.block:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.block:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #f4e2c8;
}

.block-menu{
    background-color: #fcebc6;
    box-shadow: 
        inset 1px 0 #bfa485,
        inset -1px -1px #bfa485;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 190px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 39px;
}

.block-menu a{
    font-size: 14px;
    font-family: "Verdana";
    color: rgb(69, 37, 10);
    line-height: 2.3;
    width: 100%;
    padding-left: 10px;
    text-align: left;
    box-sizing: border-box;
    z-index: 1;
}

.block-menu a:hover{
    background-color: #d8af75
}
  
  